.App-header {
    display: flex;
}

input {
    display: none;
}

.BouttonChangementPhotoProfil {
    margin: 20%;
}

.BlocPhoto {
    display: flex;
    flex-direction: column;
}

.BlocPrincipalAppMyInformations{
    display: flex;
}

.App-logo{
    width:300px;
    height: 300px;
}