a
{
   text-decoration: none;
}

#bandeau
{
	height: 30% ;
	display: flex;
	justify-content: center;
}

#blocPrincipal
{
    display : flex;
}

#menuGestionComptes
{
    width: 20%;
    border: 1px grey solid;
    margin-right: 3px;
}

#blocApplication
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lienMenu
{
	font-size: 20px;
	list-style:none;
}