a
{
   text-decoration: none;
}

#bandeau
{
	height: 30% ;
	display: flex;
	justify-content: center;
}

#blocPrincipal
{
    display : flex;
}

#menuGestionComptes
{
    width: 20%;
    border: 1px grey solid;
    margin-right: 3px;
}

.lienMenu
{
	font-size: 20px;
	list-style:none;
}

#appAndMenuContainer {
    display: flex;
    flex-direction: row;
}

.blocApplication .application {
    max-width: 80%;
    max-height: 80%;
    margin-top:3%;
    display: flex;
    flex-direction: column;
}

.blocApplication {
    display: flex;
    flex-direction: row;
}