a
{
   text-decoration: none;
}

#bandeau
{
	height: 30% ;
	display: flex;
	justify-content: center;
}

#blocPrincipal
{
    display : flex;
}

#menuGestionComptes
{
    width: 20%;
    border: 1px grey solid;
    margin-right: 3px;
}

#blocApplication
{
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}

.lienMenu
{
	font-size: 20px;
	list-style:none;
}

#appAndMenuContainer {
    display: flex;
    flex-direction: row;

}

.blocApplication img {
    max-width: 32%;
    max-height: 32%;
    margin-top:3%;
    margin-right:2px;
}